header{
    color: rebeccapurple;
    text-align: center;
}

header h1, h2{
    font-size: 4rem;
}

nav {
    background: #e3f2fd;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}


