header{
    color: rebeccapurple;
    text-align: center;
}

header h1, h2{
    font-size: 4rem;
}

nav {
    background: #e3f2fd;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}

 dt {
     font-size: 1.2em;
     margin: .3em .3em;
     border-bottom: purple 2px solid;
 }

 dd {
     margin-left: 1.5em;
 }

 table {
     border: 1px solid black;
 }
 
 td {
     border: solid 1px black;
 }

 th {
     border: 1px solid black;
 }
