header > h1 {
    color: rebeccapurple;
    text-align: center;
    font-size: 5rem;
}

nav {
    background: #e3f2fd;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}


